:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: inherit;
    color: var(--foreground-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background-color: #242424;
    --foreground-color: white;
    --soft-outline: rgb(65, 65, 65);
    --invert: none;
    --tooltip-background: none;

    --OBR-offset-fore: rgb(230, 230, 238);
    --OBR-offset-back: rgb(49, 49, 65);
    --OBR-dark-blue: rgb(30, 34, 49);
    --OBR-light-blue: rgb(60, 62, 75);
    --OBR-Purple-Select: rgb(187, 153, 255, 0.5);
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #e9e9e9;
        --foreground-color: rgb(49, 49, 49);
        --soft-outline: rgb(196, 196, 196);
        --invert: invert(.65);
        --invert-click: none;
        --tooltip-background: rgb(161, 161, 161);
        --OBR-offset-fore: rgb(44, 44, 46);
        --OBR-offset-back: rgb(210, 210, 223);
        --OBR-dark-blue: rgb(209, 210, 217);
        --OBR-light-blue: rgb(231, 233, 238);
    }
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: .5rem;
    text-align: center;
    display: block;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #301212;
    margin: 20px;
}

h1,
h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #915252;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
    }

    50% {
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
    }

    100% {
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
    }
}

.current-date {
    animation: glow 2s infinite;
    /* Adjust the duration as needed */
}